# I. Оператори порівняння та логічні оператори. Умови.

1. Створіть цілочисленну змінну зі своїм щасливим або улюбленим числом. Напишіть код, який би автоматизовував наступну задачу.

Якщо число парне, помножте його на 2 та виведіть результат на екран.

Але якщо число непарне, помножте його на 3 та додайте 1 і виведіть на екран.

In [1]:
number = 7
if number % 2 == 0:
    result = number * 2
    print("The number is even. The result of multiplying by 2:", result)
else:
    result = number * 3 + 1
    print("The number is odd. The result of multiplying by 3 and adding 1:", result)

The number is odd. The result of multiplying by 3 and adding 1: 22

2. Створіть змінну, що посилається на список. Якщо список пустий, додайте будь-який елемент у кінець списку. Якщо ж ні, то нічого не робіть.

In [6]:
my_list = []
if not my_list:
    my_list.append("Element")
    print("The list is empty. An item has been added.")
else:
    pass

my_list

The list is empty. An item has been added.

['Element']

3. Створіть рядок зі своїм імʼям латинкою. Напишіть код, який би автоматизовував наступну задачу.

Якщо в імені є літера "а"
 або "i", Виведіть на екран повідомлення "A or I is in the name".



Якщо в імені є літери "o" та "n", Виведіть на екран повідомлення "O and N is in the name".

Також якщо в імені немає літери "о", але є "n", Виведіть на екран повідомлення "Only N is in the name".

В решті випадків виведіть на екран повідомлення "There is no N in the name, but there might be O".

Зверніть увагу, що, наприклад, для імені "Antonina" буде виведено два повідомлення.

In [10]:
name = "Andrii"
if 'a' in name or 'i' in name:
    print("A or I is in the name")

if 'o' in name and 'n' in name:
    print("O and N is in the name")
elif 'o' not in name and 'n' in name:
    print("Only N is in the name")
else:
    print("There is no N in the name, but there might be O")

A or I is in the name
Only N is in the name

# II. Comprehensions.

4. Створіть список, використовуючи if (не if-else), range та comprehension.

In [11]:
numbers = [x for x in range(10) if x % 2 == 0]
print(numbers)

List I: [0, 2, 4, 6, 8]

5. Створіть словник, використовуючи dict comprehension, що містить if else. Коли слід використовувати comprehensions, а коли їх слід уникати?

In [12]:
words = ['apple', 'banana', 'cherry']
word_lengths = {word: len(word) if len(word) % 2 == 0 else 'odd' for word in words}
print(word_lengths)

{'apple': 'odd', 'banana': 6, 'cherry': 6}

Comprehensions слід використовувати, коли потрібно створити нову структуру даних на основі ітерації або фільтрації певного об'єкта, і це може бути виразно зроблено за допомогою одного рядка коду. Вони дозволяють зробити код більш читабельним і компактним.

Унакати ж слід, коли від їхнього використання починає страждати читабельність коду, адже від цього він не стає ефекивнішим, просто меншим.

6. Створіть список з рядками та запишіть його у змінну. Створіть ще один список на основі попереднього, де кожен рядок буде містити тільки три перших заглавних символи. Наприклад: ['hello', 'i', 'dont', 'care'] -> ['HEL', 'I', 'DON', 'CAR']. Використання comprehensions обовʼязкове.

In [13]:
strings = ['hello', 'i', 'dont', 'care']
shortened_strings = [s[:3].upper() for s in strings]
print(shortened_strings)

['HEL', 'I', 'DON', 'CAR']

# III. Цикли.

7. Продемонструйте роботу циклу while. Не можна використовувати True для запуску циклу, щоб уникнути безкінечного циклу!

In [15]:
count = 1
while count <= 5:
    print("Count is:", count)
    count += 1

Count is: 1
Count is: 2
Count is: 3
Count is: 4
Count is: 5

8. Напишіть програму, яка виведе на екран непарні числа в діапазоні від 0 до 20 включно.

In [16]:
num = 0
while num <= 20:
    if num % 2 != 0:
        print(num)
    num += 1

1
3
5
7
9
11
13
15
17
19

9. Створіть список з елементами булевого типу або None. Використовуючи цикли, отримайте в результаті список з кортежами, де перший елемент кортежу - індекс(ціле число), а другий елемент - відповідне значення з першого списку.

Наприклад, [True, True, None, False] -> [(0, True), (1, True), (2, None), (3, False)]

In [17]:
boolean_list = [True, True, None, False]
result_list = []

for i in range(len(boolean_list)):
    result_list.append((i, boolean_list[i]))

print(result_list)

[(0, True), (1, True), (2, None), (3, False)]
True
True
None
False

10. Створіть словник, де ключі - назви книжок, а значення - їхня кількість у наявності в Вашій міні-бібліотеці. Бібліотека має містити щонайменше 6 книжок (6 пар значень у словнику) і щонайбільше 10 (пар значень). Використовуючи цикли, оновіть словник (не створюйте новий) так, щоби кількість книг у наявності збільшилося на 5 кожної книги. Наприклад,
{'It': 3, 'Fault stars': 10, 'Bible': 17, 'Psychological romance': 4, 'Harry Potter': 13} -> {'It': 8, 'Fault stars': 15, 'Bible': 22, 'Psychological romance': 9, 'Harry Potter': 18}

In [19]:
library = {'It': 3, 'Fault stars': 10, 'Bible': 17, 'Psychological romance': 4, 'Harry Potter': 13, 'Game of Thrones': 0, 'Lord of the Rings': 13, 'Sherlock Holmes': 2}
for book in library:
    library[book] += 5
print(library)

{'It': 8, 'Fault stars': 15, 'Bible': 22, 'Psychological romance': 9, 'Harry Potter': 18, 'Game of Thrones': 5, 'Lord of the Rings': 18, 'Sherlock Holmes': 7}

11. Визначте цілочислену змінну n, що належить проміжку від 4 до 10 включно. Використовуючи цикли, виведіть в консоль наступний патерн.

#
##
###
####

... #*n

In [20]:
n = 6
for i in range(1, n + 1):
    print("#" * i)

#
##
###
####
#####
######

12. Гра "Нумо вгадай".
Розробіть просту гру, де користувач має вгадати випадкове число від 1 до 100. Для генерації випадкового числа використовуйте функцію random.randint(a, b) (тут a та b включно). Для отримання числа з консолі використовуйте функцію input(), результат якої обовʼязково явно приведіть до типу int.

Підказка: використовуйте цикл while та умови if-else, щоб повідомити користувачу піказки (напр. "Більше", "Менше") поки користувач не вгадає. По завершенню виведіть кількість спроб, які знадобилися для вгадування.

In [21]:
import random

secret_number = random.randint(1, 100)

attempts = 0

print("Hello! Try to guess a number from 1 to 100.")


while True:
    guess = int(input("Your attempt: "))
    attempts += 1

    if guess == secret_number:
        print(f"Congratulations! You have guessed the number {secret_number} in {attempts} attempts.")
        break
    elif guess < secret_number:
        print("the number is greater.")
    else:
        print("the number is smaller.")

Hello! Try to guess a number from 1 to 100.
Your attempt: 50
the number is smaller.
Your attempt: 25
the number is greater.
Your attempt: 37
the number is greater.
Your attempt: 42
the number is smaller.
Your attempt: 40
the number is smaller.
Your attempt: 38
Congratulations! You have guessed the number 38 in 6 attempts.

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.