# I. Змінні та памʼять.

1. Створити змінні, що посилаються на два цілих числа, що однакові за значенням, де значення належить проміжку від -5 до 256. Перевірте, чи будуть ці змінні рівні тільки за значенням або ж ще будуть посилатися на один і той самий обʼєкт в памʼяті? Наведіть код та дайте текстову відповідь нижче.

In [2]:
a = 15
b = 15

print(a)
print(b)

print(id(a))
print(id(b))

15
15
135904537002672
135904537002672

Змінні a і b мають однакові значення та посилаються на один і той самий обʼєкт в памʼяті для оптимізації роботи програми.

2. За допомогою якої функції можна перевірити належність змінної до вказаного типу даних (напр. чи змінна True посилається на значення булевого та цілочисленого типу)?

In [5]:
boolean = True

print(type(boolean))

print(isinstance(boolean, bool))
print(isinstance(boolean, int))

<class 'bool'>
True
True

# II. Цілі числа та числа з рухомою комою

3. Створити дві змінні, що посилаються на будь-які ціле число та число з рухомою комою та продемонструвати такі арифметичні операції: додавання, віднімання, ділення, множення, ділення без залишку, ділення по модулю, приведення до ступеню. Всі результати операцій вивести на екран.

In [12]:
integer_var = 10
float_var = 3.14

addition = integer_var + float_var
subtraction = integer_var - float_var
division = integer_var / float_var
multiplication = integer_var * float_var
floor_division = integer_var // float_var
modulo = integer_var % float_var
exponentiation = integer_var ** 2

print(addition)
print(subtraction)
print(division)
print(multiplication)
print(floor_division)
print(modulo)
print(exponentiation)

13.14
6.859999999999999
3.184713375796178
31.400000000000002
3.0
0.5799999999999996
100

4. Використовуючи змінні з вправи 3, продемонструйте механізм явного перетворення типів, де числа з рухомою комою перетворюються на цілі числа. Також визначте змінну, що посилається на значення булевого типу і спробуйте явно привести її до цілого числа.

In [9]:
int_from_float = int(float_var)
bool_var = True
int_from_bool = int(bool_var)

print(int_from_float)
print(bool_var)
print(int_from_bool)

3
True
1

# IІІ. Рядки (String).

5. Створити пустий рядок двома різними способами.

In [14]:
empty_string1 = ""
empty_string2 = str()

print(empty_string1)
print(empty_string2)

6. Створити рядок з апострофом. Зробити його сирим. Вивести обидва рядка на екран.

In [17]:
apost_string = r"Raw string with 'apostrophe'"
print(apost_string)

Raw string with 'apostrophe'

7. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [21]:
surname = "Negrub"
formatted_string1 = f"My surname is {surname}"
formatted_string2 = "My surname is {0}".format(surname)

print(formatted_string1)
print(formatted_string2)

My surname is Negrub
My surname is Negrub

8. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [22]:
original_string = "My dog is crazy."
list_from_string = original_string.split()
print(list_from_string)

['My', 'dog', 'is', 'crazy.']

# IV. Робота зі списками.

9. Створити список двома різними за синтаксисом способами. За допомогою вбудованої функції обчисліть довжину одного з них.

In [31]:
list1 = [0, 1, 2, 3, 4]
list2 = list(range(5))

print(list1)
print(list2)
print(len(list1))
print(len(list2))

[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]
5
5

10. Створіть два списка та за допомогою спеціального методу додайте другий з них в якості останнього елемента першого.

In [32]:
list1.append(list2)
print(list1)

[0, 1, 2, 3, 4, [0, 1, 2, 3, 4]]

11. Створіть список, де елементами цього списку також є списки. Отримай перший елемент з останнього рядка та виведи значення на екран.

In [36]:
list1 = [[0, 1], [2, 3], [4, 5]]
print(list1[-1][0])

4

12. Створіть список з десяти елементів різного типу. Отримайте всі елементи, окрім двох перших та двох останніх та збережіть їх в новій змінній.

In [37]:
mixed_type_list = [1, "two", 3.0, (4, 5), {"key": "value"}, True, None, 8, [9, 10], "eleven"]
new_list = mixed_type_list[2:-2]
print(new_list)

[3.0, (4, 5), {'key': 'value'}, True, None, 8]

# V. Робота з кортежами.

14. Створити кортеж з один елементом.

In [38]:
tuple_with_one_element = (42,)
print(tuple_with_one_element)

(42,)

15. Порівняйте список та кортеж. Назвіть схожості та відмінності, випадки використання.

Схожості: Обидва можуть зберігати колекцію елементів.

Відмінності: Список є змінним, але повільнішим та займає більше пам'яті. кортеж – навпаки, незмінним, але меншим та швидшим.

Кортежі використовуються там, де не потрібно змінювати структуру даних. В інших випадках зазвичай обирають списки, адже з ними легше працювати.

16. Створіть кортеж з 11ти елементів чисел з рухомою комою та отримайте кожен парний за індексом елемент в зворотньому порядку. Наприклад, маючи (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3), отримати (0.3, 8.3, 6.3, 4.3, 2.3). Результат збережіть в нову змінну та виведіть на екран.

In [39]:
tuple_with_floats = (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3)
result_tuple = tuple_with_floats[::-2]
print(result_tuple)

(0.3, 8.3, 6.3, 4.3, 2.3)

# VI. Множини (Set).

17. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [41]:
empty_set = set()
empty_set.add(1)
empty_set.add(2)
empty_set.add(3)

print(empty_set)

{1, 2, 3}

Так, множини є змінним типом даних в Python, оскільки змінний тип даних означає, що об'єкт може бути змінений після його створення.

18. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [43]:
my_list = [1, 1, 2, 67, 67, 8, 9]
set_from_list = set(my_list)

print(set_from_list)

{1, 2, 67, 8, 9}

"Зникають" ті елементи, які були дублікатами, оскільки за визначенням множина цього не допускає

19. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [45]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

union_set = set1.union(set2)
difference_set1 = set1.difference(set2)
difference_set2 = set2.difference(set1)
intersection_set = set1.intersection(set2)
symmetric_difference_set = set1.symmetric_difference(set2)

print(union_set)
print(difference_set1)
print(difference_set2)
print(intersection_set)
print(symmetric_difference_set)

{1, 2, 3, 4, 5}
{1, 2}
{4, 5}
{3}
{1, 2, 4, 5}

# VII. Словники (Dictionary).

20. Створіть пустий словник. До нього додайте чотири пари елементів такі, щоб їхні ключі були різних типів. Чи може список бути ключем? Чому?

In [46]:
my_dict = {}

my_dict["name"] = "John"
my_dict[42] = "Answer"
my_dict[(1, 2)] = "Tuple"
my_dict[3.14] = "Pi"

print(my_dict)

{'name': 'John', 42: 'Answer', (1, 2): 'Tuple', 3.14: 'Pi'}

Ні, список не може бути ключем у словнику, оскільки ключі у словнику повинні бути незмінними типами даних.

21. Створіть словник, де значенням в одній з пар теж буде словник, який теж має вкладений словник. Виведіть на екран значення, що міститься в словнику, що знаходиться на найнижчому рівні ієрархії вкладеності (найбільш внутрішній).

In [48]:
nested_dict = {'outer_key': {'inner_key': 'correct_value'}}
inner_value = nested_dict['outer_key']['inner_key']

print(inner_value)

correct_value

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.